.visitor_actions {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 278px;
    font-size: 12px;
    .visitor_actions form,
    a {
        color: #363636;
        text-align: right;
    }
}

.visitor_actions_not_logged {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    width: 590px;
    font-size: 12px;
    .visitor_actions form,
    a {
        color: #363636;
        text-align: right;
    }
    input {
        width: 80px;
    }
    input[type="submit"] {
        width: 124px;
    }
}

input,
textarea {
    border: 1px solid #686868;
    border-radius: 4px;
    padding: 5px;
    min-width: 130px;
}

input[type="submit"] {
    min-width: 66px;
    background-color: #EEEEEE;
}